body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

.background-auth {
  background: url(../img/auth-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 169px 70px 150px;
}

.text-content span {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.text-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.auth-from-wraper {
  padding: 150px;
}

.icon-login {
  background: unset !important;
  border: unset !important;
  border-radius: unset !important;
  border-bottom: 1px solid gray !important;
}

.text {
  color: #6379F4;
}

.input-login {
  border: unset !important;
  border-bottom: 1px solid gray !important;
  border-radius: unset !important;
}

.input-login:focus {
  border-bottom: 2px solid #6379F4 !important;
  box-shadow: unset !important;
}

.button-login {
  background: #6379F4;
  border: unset;
  min-height: 57px;
}

.button-login:hover {
  background: #7e8cdf;
}

.pin-wrap {
  max-height: 65px;
}

.pin-num {
  font-size: 30px; 
  text-align: center; 
  width: 40px; 
  border: unset;
  border-bottom: 1px solid gray;
}

input[type=number] { 
  -moz-appearance: textfield; 
}

.pin-border {
  border-radius: 10px;
  border: 1px solid gray; 
  padding: 10px 10px;
}

.pin-border:valid {
  border: 2px solid #6379F4;
}

.pin-border input:focus {
  outline: none;
  border-bottom: unset; 
}

.pin-border input:active {
  outline: none;
  border-bottom: unset;
}

.success-wrap {
  height: 70px;
  width: 70px;
  background-color: #1EC15F;
  border-radius: 50%;
}

.danger-wrap {
  height: 70px;
  width: 70px;
  background-color: #FF5B37;
  border-radius: 50%;
}

/* Mobile */

@media only screen and (max-width: 600px) {
  .background-auth {
    height: 10px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }

  .bg-phone {
    display: none;
  }


}